body {
    margin: 0;
}


/* ### Footer ### */

.custom-text {
    color: white;
    text-align: center;
}

.custom-footer {
    background-color: #666666;
    height: 70px;
    border-top: 8px solid #4aaaa5;
}


/* ### Body ### */

.jumbotron-custom {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bearpaw {
    height: 20px;
    width: 30px;
}


/* ### Header ### */

.custom-header {
    height: 70px;
    border-bottom: 3px solid #cccccc;
}

.name-box {
    width: 260px;
    height: 67px;
    background-color: #4aaaa5;
}

.name-text {
    color: white;
    position: relative;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.about-header {
    height: 70px;
    margin-bottom: 15px;
    border-bottom: 3px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: #777777;
}

@media (max-width: 600px) {
    p {
        font-size: 10px;
        line-height: 15px;
    }
}