/* ### Footer ### */

.custom-text {
    color: white;
    text-align: center;
}

.custom-footer {
    background-color: #666666;
    height: 70px;
    border-top: 8px solid #4aaaa5;
}


/* ### Body ### */

.container-1 {
    background-color: white;
    margin-bottom: 50px;
}

.bearpaw {
    height: 20px;
    width: 30px;
}


/* ### Header ### */

.custom-header {
    height: 70px;
    border-bottom: 3px solid #cccccc;
}

.name-box {
    width: 260px;
    height: 70px;
    background-color: #4aaaa5;
}